body {
    background: linear-gradient(145deg, #f0c200, #caa300);
    height: 100vh;
    display: flex;
    justify-content: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

h1 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 100;
}

h2 {
    font-size: 1.4rem;
}

h6{
    font-size: 0.9rem;
    font-weight: 100;
}

p {
    font-size: 1rem;
    margin-right: -1.5em;
    margin-top: 3rem;
}

a {
    text-decoration: none;
    color: rgb(2, 1, 1);
}

#wrapper {
    margin-top: 2rem;
   width: 450px;
   height: 800px;
   border-radius: 20px;
   background: linear-gradient(145deg, #f0c200, #caa300);
   box-shadow:  5px 5px 10px #a68600,
             -5px -5px 10px #ffe400;
   color: black;
   font-size: 1.5rem;
   font-weight: 100;
   text-align: center;
}

#wrapper input {
   margin: .5rem;
   font-size: 1.5rem;
   text-align: center;
}

button {
   margin-top: 1rem;
   padding: 1rem;
   font-size: 1rem;
   border-radius: 5px;
   background: linear-gradient(145deg, #f0c200, #caa300);
   color: black;
}

#button {
    margin: 3rem;
}

button:active{
    background-color: red;
    color: white;
}

input {
    border-radius: 5px;
}

input:focus{
    background-color: yellow;
}
#durchschnitt {
   width: 150px;
   height: 50px;
   background: white;
    margin: auto;
    margin-top: 1rem;
    color: black;
    font-weight: 800;
    padding: .5rem;
    font-size: 2rem;
    border-radius: 5px;
    margin: .5rem;

}

#result {
    font-size: 2rem;
}
